In [61]:
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series, DataFrame
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline
import sklearn

# ccba

In [62]:
ccba = pd.read_csv('traindata/public_train_x_ccba_full_hashed.csv')
print(ccba.isnull().sum())
ccba

cust_id    0
lupay      0
byymm      0
cycam      0
usgam      0
clamt      0
csamt      0
inamt      0
cucsm      0
cucah      0
dtype: int64

,cust_id,lupay,byymm,cycam,usgam,clamt,csamt,inamt,cucsm,cucah
0,0172056578071e83399216fcd640bdc4de4583149d0fd9...,0.0,0,152628.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0172056578071e83399216fcd640bdc4de4583149d0fd9...,0.0,30,152628.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0172056578071e83399216fcd640bdc4de4583149d0fd9...,0.0,61,152628.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0172056578071e83399216fcd640bdc4de4583149d0fd9...,0.0,91,152628.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0172056578071e83399216fcd640bdc4de4583149d0fd9...,0.0,122,152628.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
59070,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,0.0,244,781570.0,63952.0,0.0,0.0,0.0,61927.0,0.0
59071,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,61927.0,275,781570.0,37297.0,0.0,0.0,0.0,37276.0,0.0
59072,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,37297.0,306,781570.0,45413.0,0.0,0.0,0.0,19766.0,0.0
59073,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,19766.0,334,781570.0,26360.0,0.0,0.0,1142.0,2568.0,0.0
59074,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,2591.0,365,781570.0,23903.0,0.0,0.0,5199.0,5199.0,0.0

# clamt本月分期預借現金金額, csamt本月預借現金金額, cucah本月借現金額

In [63]:
#平均相同ID的所有data
newccba = ccba.groupby(['cust_id']).agg({'lupay': np.mean,'byymm': np.mean,'cycam': np.mean,'usgam': np.mean,'clamt': np.mean,
                                         'csamt': np.mean,'inamt': np.mean,'cucsm': np.mean,'cucah': np.mean,})
newccba = newccba.drop ( 'byymm' , axis=1 )
newccba = newccba.astype(int)
newccba

,lupay,cycam,usgam,clamt,csamt,inamt,cucsm,cucah
cust_id,,,,,,,,
0015cc01f553512007705edf855baa16f1b57a16fb107e0882c5cb0535d297a5,6298,134614,24214,0,0,3148,6728,0
002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca3efda9a312e97b342c,363428,312780,69357,0,0,24451,376716,0
002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de8055b7394696b948ec9b4,31074,314421,40891,0,0,2384,30166,0
0031e83ddef78e57d17ac5dce088627b7745be8ff6cffcbc0a79aff9fedd93f0,88294,202831,196138,0,0,909,87726,0
0032adaf4a8731b4d6a3fdcba32f9ebdcd336490eda155b9bc5d18de6b65f381,1755,20238,2322,0,0,0,1755,0
...,...,...,...,...,...,...,...,...
ffa5bcc6f88df5c33e809da4daa54de0031803f37d8f114b0ce2a70519099edc,154,208683,114,0,0,0,114,0
ffae7fef923c78298cd647a3d573e48cc1404b07ac794a63f436399ceca4ed9d,4187,208765,9552,0,0,1792,4068,0
ffdbc1a5135cb6feddf7355e5656abf6973f21639c7b9b9c8a23f77a194369c9,4882,203231,6488,0,0,1863,4994,0
ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973cae4f00fb64ba9b859a,155063,1043907,356287,0,0,56455,152153,0
ffeb846f2294ec4397f800736dc1e14eb754da5425398d9a3bb81469b764b16f,9352,460926,15148,0,0,487,9748,0

In [64]:
newccba['clamt'].value_counts().sort_index()
#newccba['csamt'].value_counts().sort_index()
#newccba['cucah'].value_counts().sort_index()

0         4676
144          1
145          1
160          1
235          1
          ...
22810        1
25622        1
39280        1
66995        1
454203       1
Name: clamt, Length: 70, dtype: int64

In [65]:
#非0值改成1
clamt_mapping = { 0 : 0,"else":1}
newccba['clamt'] = newccba['clamt'].map(clamt_mapping).fillna(1).astype(int)
csamt_mapping = { 0 : 0,"else":1}
newccba['csamt'] = newccba['csamt'].map(csamt_mapping).fillna(1).astype(int)
cucah_mapping = { 0 : 0,"else":1}
newccba['cucah'] = newccba['cucah'].map(cucah_mapping).fillna(1).astype(int)

newccba['clamt'].value_counts()
newccba['csamt'].value_counts()
#newccba['cucah'].value_counts()

0    4664
1      81
Name: csamt, dtype: int64

In [66]:
newccba

,lupay,cycam,usgam,clamt,csamt,inamt,cucsm,cucah
cust_id,,,,,,,,
0015cc01f553512007705edf855baa16f1b57a16fb107e0882c5cb0535d297a5,6298,134614,24214,0,0,3148,6728,0
002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca3efda9a312e97b342c,363428,312780,69357,0,0,24451,376716,0
002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de8055b7394696b948ec9b4,31074,314421,40891,0,0,2384,30166,0
0031e83ddef78e57d17ac5dce088627b7745be8ff6cffcbc0a79aff9fedd93f0,88294,202831,196138,0,0,909,87726,0
0032adaf4a8731b4d6a3fdcba32f9ebdcd336490eda155b9bc5d18de6b65f381,1755,20238,2322,0,0,0,1755,0
...,...,...,...,...,...,...,...,...
ffa5bcc6f88df5c33e809da4daa54de0031803f37d8f114b0ce2a70519099edc,154,208683,114,0,0,0,114,0
ffae7fef923c78298cd647a3d573e48cc1404b07ac794a63f436399ceca4ed9d,4187,208765,9552,0,0,1792,4068,0
ffdbc1a5135cb6feddf7355e5656abf6973f21639c7b9b9c8a23f77a194369c9,4882,203231,6488,0,0,1863,4994,0
ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973cae4f00fb64ba9b859a,155063,1043907,356287,0,0,56455,152153,0
ffeb846f2294ec4397f800736dc1e14eb754da5425398d9a3bb81469b764b16f,9352,460926,15148,0,0,487,9748,0

# lupay上月繳款總額, cycam信用額度, usgam已使用額度, inamt本月分期消費金額, cucsm本月消費金額

In [67]:
newccba['usgam'].value_counts().sort_index().tail(10)

4432151     1
5490180     1
5539157     1
6160856     1
6466758     1
7731587     1
16922842    1
19375525    1
21782387    1
23834540    1
Name: usgam, dtype: int64

In [68]:
newccba['cycam'].value_counts()

0         20
304208     3
104986     3
30584      2
31422      2
          ..
102010     1
112906     1
291511     1
180500     1
460926     1
Name: cycam, Length: 4641, dtype: int64

In [69]:
newccba['lupay'].max()
newccba.loc[ newccba['lupay'] <= 100000, 'lupay' ] = 0 
newccba.loc[ (newccba['lupay'] > 100000) & (newccba['lupay'] <= 1000000), 'lupay' ] = 1 
newccba.loc[ (newccba['lupay'] > 1000000) & (newccba['lupay'] <= 5000000), 'lupay' ] = 2 
newccba.loc[ newccba['lupay'] > 5000000, 'lupay' ] = 3
newccba['lupay'].value_counts()

0    4109
1     558
2      70
3       8
Name: lupay, dtype: int64

In [70]:
newccba = newccba.drop ( 'cycam' , axis=1 )
#newccba.loc[ newccba['cycam'] <= 100000, 'cycam' ] = 0 
#newccba.loc[ (newccba['cycam'] > 100000) & (newccba['cycam'] <= 1000000), 'cycam' ] = 1 
#newccba.loc[ (newccba['cycam'] > 1000000) & (newccba['cycam'] <= 5000000), 'cycam' ] = 2 
#newccba.loc[ newccba['cycam'] > 5000000, 'cycam' ] = 3
#newccba['cycam'].value_counts()

In [71]:
newccba['usgam'].max()
newccba.loc[ newccba['usgam'] <= 100000, 'usgam' ] = 0 
newccba.loc[ (newccba['usgam'] > 100000) & (newccba['usgam'] <= 1000000), 'usgam' ] = 1 
newccba.loc[ (newccba['usgam'] > 1000000) & (newccba['usgam'] <= 5000000), 'usgam' ] = 2 
newccba.loc[ newccba['usgam'] > 5000000, 'usgam' ] = 3
newccba['usgam'].value_counts()

0    3974
1     718
2      44
3       9
Name: usgam, dtype: int64

In [72]:
newccba['inamt'].max()
newccba.loc[ newccba['inamt'] <= 100000, 'inamt' ] = 0 
newccba.loc[ (newccba['inamt'] > 100000) & (newccba['inamt'] <= 500000), 'inamt' ] = 1 
newccba.loc[ (newccba['inamt'] > 500000) & (newccba['inamt'] <= 1000000), 'inamt' ] = 2 
newccba.loc[ newccba['inamt'] > 1000000, 'inamt' ] = 3
newccba['inamt'].value_counts()

0    4722
1      16
2       4
3       3
Name: inamt, dtype: int64

In [73]:
newccba['cucsm'].max()
newccba.loc[ newccba['cucsm'] <= 100000, 'cucsm' ] = 0 
newccba.loc[ (newccba['cucsm'] > 100000) & (newccba['cucsm'] <= 1000000), 'cucsm' ] = 1 
newccba.loc[ (newccba['cucsm'] > 1000000) & (newccba['cucsm'] <= 5000000), 'cucsm' ] = 2 
newccba.loc[ newccba['cucsm'] > 5000000, 'cucsm' ] = 3
newccba['cucsm'].value_counts()

0    4130
1     538
2      69
3       8
Name: cucsm, dtype: int64

In [74]:
newccba

,lupay,usgam,clamt,csamt,inamt,cucsm,cucah
cust_id,,,,,,,
0015cc01f553512007705edf855baa16f1b57a16fb107e0882c5cb0535d297a5,0,0,0,0,0,0,0
002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca3efda9a312e97b342c,1,0,0,0,0,1,0
002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de8055b7394696b948ec9b4,0,0,0,0,0,0,0
0031e83ddef78e57d17ac5dce088627b7745be8ff6cffcbc0a79aff9fedd93f0,0,1,0,0,0,0,0
0032adaf4a8731b4d6a3fdcba32f9ebdcd336490eda155b9bc5d18de6b65f381,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...
ffa5bcc6f88df5c33e809da4daa54de0031803f37d8f114b0ce2a70519099edc,0,0,0,0,0,0,0
ffae7fef923c78298cd647a3d573e48cc1404b07ac794a63f436399ceca4ed9d,0,0,0,0,0,0,0
ffdbc1a5135cb6feddf7355e5656abf6973f21639c7b9b9c8a23f77a194369c9,0,0,0,0,0,0,0
ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973cae4f00fb64ba9b859a,1,1,0,0,0,1,0
ffeb846f2294ec4397f800736dc1e14eb754da5425398d9a3bb81469b764b16f,0,0,0,0,0,0,0

In [75]:
newccba['cust_id'] = newccba.index
newccba.to_csv('newccba.csv', index = False)