In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("public_train_x_cdtx0001_full_hashed.csv")
data = data.sort_values(by='cust_id')

In [3]:
data

,cust_id,date,country,cur_type,amt
119841,0015cc01f553512007705edf855baa16f1b57a16fb107e...,21,130,47,13428.0
119902,0015cc01f553512007705edf855baa16f1b57a16fb107e...,252,130,47,724.0
119901,0015cc01f553512007705edf855baa16f1b57a16fb107e...,237,130,47,911.0
119900,0015cc01f553512007705edf855baa16f1b57a16fb107e...,240,130,47,1025.0
119899,0015cc01f553512007705edf855baa16f1b57a16fb107e...,238,130,47,724.0
...,...,...,...,...,...
1042981,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,325,130,47,2512.0
1042982,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,323,130,47,908.0
1042983,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,327,130,47,1042.0
1042985,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,342,130,47,456.0
1043013,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,377,53,47,486.0

In [4]:
#count the sum of amt
data_amt = data.groupby("cust_id")['amt'].mean()

In [5]:
#count the duplicate of every different cust_id
count_dup=[]
x=0
for i in data.duplicated(subset=['cust_id']):
    if(i==False):
        if(x!=0):
            count_dup.append(x)
        x=1
    else:
        x=x+1
        
count_dup.append(x)
count_dup = pd.Series(count_dup,index=data_amt.index)

In [7]:
#Use 0 to represent only trading in Taiwan, and 1 to represent internation trade
#Use 0 to represent only trading in NTD, and 1 to represent others
data['country'] = data['country'].map(lambda x:1 if x == 130 else 0)
data['cur_type'] = data['cur_type'].map(lambda x:1 if x == 47 else 0)

In [8]:
data = data.groupby("cust_id")['country','cur_type'].sum()
data['amt']= data_amt

#add the column of trading times of every cust_id
data['times']=count_dup
#because using cust_id to be the index will have the problem that the index(cust_id) disapper when turning to the csv
#so we add one column that same as the index
data.insert(0,'cust_id',data.index)

data['country'] = data['country']/data['times']
data['cur_type'] = data['cur_type']/data['times']

<ipython-input-8-11d012e26182>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data = data.groupby("cust_id")['country','cur_type'].sum()

In [10]:
data

,cust_id,country,cur_type,amt,times
cust_id,,,,,
0015cc01f553512007705edf855baa16f1b57a16fb107e0882c5cb0535d297a5,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.000000,1.000000,1053.321429,84
002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca3efda9a312e97b342c,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,0.991713,1.000000,13090.121547,362
002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de8055b7394696b948ec9b4,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,1.000000,1.000000,1985.859223,206
0031e83ddef78e57d17ac5dce088627b7745be8ff6cffcbc0a79aff9fedd93f0,0031e83ddef78e57d17ac5dce088627b7745be8ff6cffc...,0.026059,0.990228,1996.304560,614
0032adaf4a8731b4d6a3fdcba32f9ebdcd336490eda155b9bc5d18de6b65f381,0032adaf4a8731b4d6a3fdcba32f9ebdcd336490eda155...,1.000000,1.000000,2092.333333,3
...,...,...,...,...,...
ffa5bcc6f88df5c33e809da4daa54de0031803f37d8f114b0ce2a70519099edc,ffa5bcc6f88df5c33e809da4daa54de0031803f37d8f11...,1.000000,1.000000,502.500000,4
ffae7fef923c78298cd647a3d573e48cc1404b07ac794a63f436399ceca4ed9d,ffae7fef923c78298cd647a3d573e48cc1404b07ac794a...,1.000000,1.000000,1698.600000,35
ffdbc1a5135cb6feddf7355e5656abf6973f21639c7b9b9c8a23f77a194369c9,ffdbc1a5135cb6feddf7355e5656abf6973f21639c7b9b...,1.000000,1.000000,478.782609,138
ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973cae4f00fb64ba9b859a,ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973c...,0.955598,0.998069,3734.067568,518
ffeb846f2294ec4397f800736dc1e14eb754da5425398d9a3bb81469b764b16f,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,0.981818,1.000000,2642.218182,55

In [11]:
data.to_csv('cdtx.csv',index=False)